.viz {
  margin: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 16em;
  border: solid 1px #777;
  border-radius: 3px;
}

.selector {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.selector__label {
  flex: 1 1 auto;
}

.selector-radio__options {
  flex: 3 1 auto;
  justify-content: space-between;
  display: flex;
}

.selector-range__slider {
  flex: 2 1 auto;
}

.selector-range__value {
  flex: 1 1 auto;
  text-align: right;
}

#app {
  background: #f0f8ff;
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  display: block;
}
